body {
    background-color: hsl(30, 38%, 92%);
}

.wrapper {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 140px;
    margin-bottom: 30px;
    background-color: white;
    width: 580px;
    height: 445px;
    border-radius: 12px;
}

.product-image {
    width: 120%;
    height: 100%; 
}

#product-image-src {
    width: 100%;
    height: 100%;
    border-radius: 12px 0px 0px 12px;
}

.product-information {
    width: 100%;
    height: 100%;
    padding: 30px 20px 30px 27px;
}

@font-face {
    font-family: Montserrat;
    src: url("./Montserrat/Montserrat-VariableFont_wght.ttf");
}

#product-category{ 
   
    font-family: Montserrat;
    letter-spacing: 4px;
    font-weight: 500, 700;
    color: hsl(228, 12%, 48%);
}

@font-face {
    font-family: Fraunces;
    src: url("./Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
}

#product-name {
    margin-top: 18px;
    font-family: Fraunces;
    font-weight: 700;
    font-size: 35px;
    color: hsl(212, 21%, 14%);
    line-height: 1;
}

#product-description {
    margin-top: 24px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.6;
    color: hsl(228, 12%, 48%);
}

.product-price {
    margin-top: 25px;
}

#current-price {
    font-family: Fraunces;
    color: hsl(158, 36%, 37%);
    font-weight: 900;
    font-size: 33px;
}

#original-price {
    position: relative;
    color: hsl(228, 12%, 48%);
    margin-left: 12px;
    bottom: 6px;
    font-family: Montserrat;
    font-size: 14px;
}

.add-button {
    margin-top: 22px;
    padding: 11px 62px 11px 62px;
    border-radius: 12px;
    border-color: white;
    background-color: hsl(158, 36%, 37%);
    font-size: 14px;
    color: white;
    font-family: Montserrat;
    font-weight: 600;
}

.cart-icon {
    position: relative;
    right: 8px;
    top: 3px;
}

.add-button:hover {
    background-color: hsl(158, 36%, 25%);
}

@media (max-width: 500px) {
    .wrapper {
        flex-direction: column;
        margin: 25px 20px 25px 20px;
        width: 370px;
        height: 650px;
    }

    .product-image {
        width: 100%;
        height: 70%; 
    }
    
    .product-information {
        padding-bottom: 30px;
    }

    #product-name {
        margin-top: 10px;
        margin-right: 30px;
        font-size: 34px;
    }

    #product-description {
        margin-top: 15px;
        padding-right: 80px;
    }

    .product-price {
        margin-top: 20px;
    }

    #product-image-src {
        width: 100%;
        height: 100%;
        border-radius: 12px 12px 0px 0px;
        content: url("./images/image-product-mobile.jpg");
    }

    .add-button {
        margin-top: 15px;
        font-size: 14px;
        padding: 12px 104px;
    }
}